@font-face {
  font-family: 'Fasthand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fasthand/v26/0yb9GDohyKTYn_ZEESku.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ96A.ttf) format('truetype');
}
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sriracha/v10/0nkrC9D4IuYBgWcI9ObY.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 2px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  list-style: none;
}
a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* margin class */
.margin_top-xl {
  margin-top: 200px;
}
.margin_top-l {
  margin-top: 100px;
}
.margin_top-m {
  margin-top: 50px;
}
.margin_top-s {
  margin-top: 20px;
}
.margin_bottom-xl {
  margin-bottom: 100px;
}
.margin_bottom-m {
  margin-bottom: 50px;
}
.margin_bottom-s {
  margin-bottom: 20px;
}
.margin_left-m {
  margin-left: 50px;
}
.margin_left-s {
  margin-left: 20px;
}
.margin_right-s {
  margin-right: 20px;
}
/* padding class */
.padd_top-xl {
  padding-top: 100px;
}
.padd_top-l {
  padding-top: 50px;
}
.padd_top-m {
  padding-top: 20px;
}
.padd_bottom-xl {
  padding-bottom: 100px;
}
.padd_bottom-l {
  padding-bottom: 50px;
}
.padd_bottom-m {
  padding-bottom: 20px;
}
.padd_left-l {
  padding-left: 50px;
}
.padd_left-m {
  padding-left: 20px;
}
.padd_right-l {
  padding-right: 50px;
}
.padd_right-m {
  padding-right: 20px;
}
.padding-all {
  padding: 20px;
}
.padding-all_l {
  padding: 35px;
}
.fullwidth {
  width: 100%;
}
/* text align class */
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
h2 {
  font-size: 55px;
  color: #f45151;
}
.cone_image {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.primary_btn {
  background-color: #f45151;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 25px;
}
.primary_btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #f45151;
}
header .menu_section ul {
  justify-content: center;
  margin: 30px 0;
}
header .menu_section ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 0 12px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
header .menu_section ul li a {
  text-transform: uppercase;
  color: #fff;
  margin: 0 12px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
header .menu_section ul li a:hover {
  color: #fbb8b8;
}
.banner_section {
  height: 850px;
}
.banner_section .u-expanded {
  width: 80%;
  height: auto;
  position: relative;
  margin-top: 30px;
  z-index: -1;
}
.banner_section .u-expanded svg {
  fill: #fbb8b8;
}
.banner_section .cone_image {
  background: url("./images/pexels-photo-9889512.jpeg");
  position: absolute;
  top: 100px;
  left: 50%;
  width: 450px;
  height: 450px;
  border-radius: 50%;
}
.banner_section .text_content {
  width: 54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -450px 0 0 55px;
}
.banner_section .text_content h1 {
  font-size: 80px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px -2px 7px rgba(0, 0, 0, 0.25);
}
.banner_section .text_content h5 {
  font-size: 18px;
  color: #fff;
}
.banner_section .text_content p {
  color: #fff;
}
.ice_cream_section {
  position: relative;
}
.ice_cream_section .title_section {
  position: absolute;
  top: -170px;
}
.ice_cream_section .title_section i {
  color: #222;
  font-size: 20px;
  line-height: 1.5;
  opacity: 0.5;
}
.ice_cream_section .ice_image_section .image_box {
  width: calc(100% / 3);
}
.ice_cream_section .ice_image_section .image_1 {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("./images/ice-cream-1.jpg");
  height: 450px;
}
.ice_cream_section .ice_image_section .image_2 {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("./images/ice-cream-2.jpg");
  height: 700px;
}
.ice_cream_section .ice_image_section .image_3 {
  margin-top: -200px;
}
.ice_cream_section .ice_image_section .image_3 .down_section {
  background-color: #f45151;
  margin-top: -3px;
}
.ice_cream_section .ice_image_section .image_3 .down_section svg {
  width: 60px;
  height: auto;
  fill: #fff;
}
.ice_cream_section .ice_image_section .image_3 .down_section p {
  color: #fff;
  font-size: 35px;
}
.berry_section .berry {
  width: calc((100% - 40px) / 2);
}
.berry_section .berry_discription hr {
  width: 70%;
  height: 10px;
  border: none;
  background: #f1c50e;
  margin: auto;
}
.berry_section .berry_image {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("./images/strawberry.jpeg");
  height: 630px;
}
.new_testy_section.margin_bottom-m {
  overflow: hidden;
}
.new_testy_section {
  position: relative;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("./images/pexelsphoto3339495.jpeg");
  min-height: 600px;
}
.new_testy_section .testy_description {
  position: absolute;
  bottom: 50px;
  right: 70px;
  text-align: right;
}
.new_testy_section .testy_description h2 {
  font-size: 90px;
  color: #fff;
}
.new_testy_section .testy_description h5 {
  font-size: 35px;
  color: #fff;
}
.little_girl_section {
  position: relative;
}
.little_girl_section .girl_image {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("./images/littel_girl.jpg");
  min-height: 500px;
  width: 42%;
  margin: auto;
  border-radius: 50%;
}
.little_girl_section .girl_image .circle_one {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #f45151;
  margin-left: -60px;
}
.little_girl_section .circle_two {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #fbb8b8;
  position: absolute;
  top: 50%;
  left: 17%;
}
.little_girl_section .info {
  background-color: #feeded;
  width: 26%;
  position: absolute;
  right: 10%;
  top: 30%;
}
.little_girl_section .info h4 {
  font-size: 30px;
  color: #f45151;
}
.little_girl_section .info p {
  font-weight: normal;
  line-height: 1.5;
}
.little_girl_section .info .primary_btn {
  margin-left: 50px;
}
.little_girl_section .info p {
  font-weight: normal;
}
.little_girl_section .info p a {
  font-weight: normal;
  color: #222;
  text-decoration: underline;
}
.image_collection_section .image_collection .image_section {
  width: calc((100% - 40px) / 4);
}
.image_collection_section .image_collection .overflow {
  overflow: hidden;
  height: 275px;
  margin-bottom: 5px;
}
.image_collection_section .image_collection .overflow img {
  height: 275px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.image_collection_section .image_collection .overflow img:hover {
  transform: scale(1.1);
}
.team_section .background_section {
  background-color: #fbb8b8;
  height: 400px;
  margin-top: 150px;
}
.team_section .team_info {
  margin-top: -500px;
}
.team_section .team_info .team_details {
  width: calc((100% - 60px) / 3);
  background: #fff;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.team_section .team_info .team_details p {
  color: #222;
  line-height: 1.5;
  opacity: 0.5;
}
.team_section .team_info .team_details h3 {
  color: #000;
}
.team_section .team_info .team_details p {
  opacity: 0.5;
}
.team_section .team_info .team_details .team_image_one {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("./images/team_1.jpg");
  width: 150px;
  height: 150px;
  border: 5px solid #fbb8b8;
  border-radius: 50%;
  margin: auto;
}
.team_section .team_info .team_details .team_image_two {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("./images/team_1.jpg");
  width: 150px;
  height: 150px;
  border: 5px solid #fbb8b8;
  border-radius: 50%;
  margin: auto;
  background: url("./images/team_2.jpg");
}
.team_section .team_info .team_details .team_image_three {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background: url("./images/team_1.jpg");
  width: 150px;
  height: 150px;
  border: 5px solid #fbb8b8;
  border-radius: 50%;
  margin: auto;
  background: url("./images/team_3.jpg");
}
.contact_section {
  position: relative;
  height: 700px;
}
.contact_section .contact_background {
  background: #fbb8b8;
  height: 200px;
  position: absolute;
  top: 180px;
}
.contact_section .contact_form {
  position: absolute;
  top: 60px;
  z-index: 1;
  left: 170px;
  width: 40%;
  background: #fff;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
}
.contact_section .contact_form h4 {
  font-size: 40px;
  color: #222;
}
.contact_section .contact_form input {
  border-style: none none solid;
  padding: 12px;
  font-size: 18px;
}
.contact_section .contact_form textarea {
  border-style: none none solid;
  font-size: 18px;
  padding: 12px;
}
.contact_section .contact_image {
  position: absolute;
  top: 0;
  right: 170px;
  width: 45%;
}
.contact_section .contact_image img {
  height: 600px;
}
footer .footer_section {
  background-color: #333333;
}
footer .footer_section a {
  color: #f45151;
  opacity: 0.5;
}
